<nav class="navbar bg-dark">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <a class="navbar-brand" href="#">
                <img src="../../../assets/images/LOGO/warner_bros_logo.png" alt="Warner Bros Logo" width="100" height="auto"
                    class="d-inline-block align-text-top">
            </a>
            <h5>Warner Live</h5>
        </div>
        <div class="d-flex align-items-center">
            <p><a href="#" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover m-3">INICIO</a></p>
            <p><a href="#" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">BUSCAR</a></p>
        </div>
    </div>
</nav>